
# Created by https://www.gitignore.io/api/react
# Edit at https://www.gitignore.io/?templates=react

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

app-react-typescript/react-app/node_modules
app/node_modules
app-basic/node_modules
app-router/node_modules
app-flux/node_modules
app-redux/node_modules
app-redux2/node_modules
bower_components
*.sublime*

psd
thumb
sketch

docmuents/
# End of https://www.gitignore.io/api/react